body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:687px;
  width:1345px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:60px;
  width:1342px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:171px;
  top:65px;
  width:300px;
  height:30px;
}
#u8_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0000FF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:168px;
  top:150px;
  width:1034px;
  height:527px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:527px;
}
#u17 {
  position:absolute;
  left:2px;
  top:256px;
  width:1030px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:264px;
  top:258px;
  width:886px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:30px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:234px;
  top:260px;
  width:16px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:263px;
  top:308px;
  width:830px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:233px;
  top:310px;
  width:16px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:171px;
  top:0px;
  width:58px;
  height:58px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u27 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:227px;
  top:6px;
  width:194px;
  height:53px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:368px;
  top:8px;
  width:60px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:450px;
  top:31px;
  width:169px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:960px;
  top:24px;
  width:240px;
  height:30px;
}
#u34_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:246px;
  height:36px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:35px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:171px;
  top:152px;
  width:160px;
  height:38px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:171px;
  top:188px;
  width:1030px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:1013px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1030px;
  height:2px;
}
#u45 {
  position:absolute;
  left:171px;
  top:411px;
  width:140px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:171px;
  top:433px;
  width:120px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u48 {
  position:absolute;
  left:171px;
  top:210px;
  width:140px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:171px;
  top:233px;
  width:120px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u51 {
  position:absolute;
  left:263px;
  top:458px;
  width:830px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:30px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:233px;
  top:460px;
  width:16px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:263px;
  top:358px;
  width:830px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:30px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:233px;
  top:360px;
  width:16px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:263px;
  top:508px;
  width:830px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:233px;
  top:510px;
  width:16px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:171px;
  top:559px;
  width:140px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:171px;
  top:583px;
  width:120px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u66 {
  position:absolute;
  left:263px;
  top:608px;
  width:830px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:30px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:233px;
  top:610px;
  width:16px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:510px;
  top:735px;
  width:448px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
