<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.hbhk.aili.client.mainframe" version="0.0.1">
	<requires>
		<import plugin-id="org.hbhk.aili.client.boot"/>
	</requires>
	
	<runtime>
		<library id="mainframe" type="code" path="classes/">
			<export prefix="*"/>
		</library>
	</runtime>
	
	<extension-point id="view">
		<parameter-def id="title"/>
		<parameter-def id="icon" multiplicity="none-or-one"/>
		<parameter-def id="view-class"/>
		<parameter-def id="position" type="fixed" custom-data="navigator|output|properties"/>
	</extension-point>
	
	<extension-point id="info-message">
		<parameter-def id="info-class"/>
		<parameter-def id="info-method"/>
	</extension-point>



	<!-- 向外提供菜单节点扩展点-->
	<extension-point id="menu">
		<parameter-def id="id"/>
		<parameter-def id="index" />
		<parameter-def id="text" multiplicity="none-or-one"/>
		<parameter-def id="icon" multiplicity="none-or-one"/>
		<parameter-def id="shortcut" multiplicity="none-or-one"/>
	</extension-point>

	<!-- 向外提供菜单节点扩展点-->
	<extension-point id="menu-item">
		<parameter-def id="id"/>
		<parameter-def id="code" />
		<parameter-def id="parentId" multiplicity="none-or-one"/>
		<parameter-def id="menuItem-class" multiplicity="none-or-one"/>
		<parameter-def id="index" />
		<parameter-def id="text" multiplicity="none-or-one"/>
		<parameter-def id="icon" multiplicity="none-or-one"/>
		<parameter-def id="shortcut" multiplicity="none-or-one"/>
		<parameter-def id="opentime" multiplicity="none-or-one"/>
		<parameter-def id="todomsgremindbiztype" multiplicity="none-or-one"/>
	</extension-point>
	
	<!--需要在boot里预先实例化的类-->
	<extension plugin-id="org.hbhk.aili.client.boot" point-id="gui-mainFrame" id="mainFrame">
		<parameter id="mainFrame-class" value="org.hbhk.aili.client.main.client.ui.MainFrame" />
		<parameter id="init-method" value="init" />
	</extension>
 	
    
	<extension plugin-id="org.hbhk.aili.client.boot" point-id="plugins-all" id="mainframe">
	</extension>
	
</plugin>
