div {
	border: 0px solid gray;
}

html,body {
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

body {
	background: url(../../images/user/background.png);
	height: 100%;
}

#main {
	position:
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	background-image: url("../../images/user/homeblog/back_ground.png");
}

#center {
	width: 980px;
	height: 100%;
	margin-top: 50px;
	margin-left: 190px;
	background-image: url("../../images/user/main_back_img.png");
}

#ct_left {
	float:left;
	display:inline;
	width: 150px;
	height: 100%;
	margin-top: 10px;
	margin-left: 0px;
}
#ct_center {
	float:left;
	display:inline;
	width: 600px;
	height:auto;
	margin-top: 10px;
	margin-left: 0px;
}

#ct_right a{
	text-decoration:none;
}
