div {
	border: 0px solid gray;
}

html,body {
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

body {
	background: url(../../images/user/background.png);
	height: 600px;
}

#main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	background-image: url("../../images/user/homeblog/back_ground.png");
}

#center {
	position: absolute;
	width: 980px;
	height: 100%;
	margin-top: 50px;
	margin-left: 190px;
	background-image: url("../../images/user/main_back_img.png");
}

#ct_left {
	position: absolute;
	width: 150px;
	height: 100%;
	margin-top: 10px;
	margin-left: 0px;
}

#ct_center {
	position: absolute;
	width: 600px;
	margin-left:150px;
}

#ct_right {
	position: absolute;
	width: 230px;
	height: 100%;
	margin-left:750px;
}

.left_class {
	width: 150px;
	height: 35px;
}

#home_top {
	position: absolute;
	margin-top: 25px;
	width: 600px;
	height: 175px;
}

#home_top_top1 {
	position: absolute;
	margin-left: 20px;
	width: 224px;
	height: 22px;
	font: 20px/22pxTahoma;
	font-weight: bold;
	color: gray;
}

#home_top_top2 {
	position: absolute;
	margin-left: 340px;
	width: 250px;
	height: 22px;
	font-family: "Tahoma";
	font-size: 12px;
	color: blue;
	font: 12px/1.125Arial, Helvetica, sans-serif;
}

#blogText {
	position: absolute;
	margin-left: 20px;
	margin-top: 40px;
	width: 560px;
	height: 90px;
	font-family: "Tahoma";
	font-size: 14px;
	color: gray;
}

#home_blog {
	position: absolute;
	width: 600px;
	margin-top: 200px;
}

#home_blog_top {
	position: absolute;
	width: 600px;
	height: 70px;
	margin-top: 0px;
	font-size: 12px;
}

#home_blog_main {
	position: absolute;
	width: 600px;
	margin-top: 70px;
}

.home_blog_content {
	border-bottom: 1pxsolid #DDDDDD;
	width: 560px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 20px;
	float: left;
	margin-bottom: 0px;
}

.home_blog_main_left {
	width: 65px;
	float: left;
}

.home_blog_main_center {
	width: 495px;
	float: left;
}

.home_blog_picture {
	width: 50px;
	height: 50px;
	margin-top: 7px;
	margin-left: 0px;
}

.home_blog_main_picture {
	width: 120px;
	height: 100px;
	margin-top: 10px;
}

.home_blog_main_center1 {
	margin-top: 7px;
	font-size: 14px;
	width: 495;
}

.home_blog_content_content {
	margin-top: 0px;
	width: 495px;
	background-color: #EFEFEF;
	border: 1pxsolid #DDDDDD;
}

.home_blog_content_contentmain {
	width: 465px;
	margin-left: 20px;
	margin-top: 0px;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 8px;
	line-height: 20px;
}

span {
	cursor: pointer;
}

.forwardOrCommentBlog {
	width: 490px;
	border: 0pxsolidgray;
	margin-bottom: 8px;
	display: none;
}

.forwardOrCommentMain {
	width: 490px;
	height: 120px;
	margin-top: 0px;
	border: 1pxsolid #DDDDDD;
	margin-left: 0px;
	font-size: 12px;
}

.CommentMain {
	width: 490px;
	height: 120px;
	margin-top: 0px;
	border: 1pxsolid #DDDDDD;
	border-bottom-width: 0px;
	margin-left: 0px;
	font-size: 12px;
}

.commentBlog {
	width: 490px;
	border: 1pxsolid #DDDDDD;
	border-top-width: 0px;
	font-size: 12px;
	margin-top: -15px;
}

.commentBlog_content {
	margin-left: 20px;
	margin-top: 15px;
	width: 450px;
	border-bottom: 1pxsolid #DDDDDD;
}

.commentBlog_content_left {
	width: 35px;
	height: 100%;
	margin-left: 0px;
	float: left;
}

.commentBlog_content_center {
	width: 410px;
	margin-left: 40px;
	height: 100%;
}

.comment_picture {
	width: 30px;
	height: 30px;
}

.forwardOrCommentText {
	margin-left: 20px;
	margin-top: 5px;
	height: 50px;
	width: 440px;
	font-size: 12px;
}

.forwardOrCommentText2 {
	margin-left: 20px;
	color: gray
}

hr {
	width: 440px;
	height: 1px;
	color: #FFFFFF;
}

.replyCommentMain {
	display: none;
	position: relative;
	border: 1pxsolid #DDDDDD;
	margin-left: 10px;
	width: 385px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #EEEEEE;
}

.replyCommentText {
	margin-left: 20px;
	margin-top: 5px;
	height: 40px;
	width: 340px;
	font-size: 12px;
}

.replyCommentText2 {
	margin-left: 20px;
	color: gray;
}

a.hover {
	color: #0A8CD2;
}