div {
	border: 1px solid green;
}

html,body {
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

#body {
	background: url(../../images/user/background.png);
	height: 600px;
}

#top {
	border-width: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	width: 100%;
	background-image: url("../../images/user/homeblog/top_back.png");
	height: 40px;
}

.top_span {
	position: absolute;
	color: #FFFFFF;
	width: 60px;
	height: 36px;
}

.top_font {
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
}

#main {
	border-width: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
}

#toptitle {
	border-width: 0px;
	position: absolute;
	width: 980px;
	height: 40px;
	margin-left: 208px;
}

#center {
	position: absolute;
	width: 980px;
	margin-top: 50px;
	margin-left: 200px;
	border: 1px solid #eee;
}

#ct_left {
	position: absolute;
	width: 150px;
	height: 550px;
	margin-left: 0px;
	border: 0;
	background-image: url("../../images/user/image/1.jpg");
}

#ct_center {
	position: absolute;
	width: 828px;
	height: 550px;
	margin-left: 150px;
	border: 0;
}

#ct_right {
	position: absolute;
	width: 230px;
	margin-left: 750px;
}

#attention,#find,#fan,#attentionAll {
	height: 35px;
	cursor: pointer;
	border: 1px solid #eee;
}

#attentionPic,#fanPic,#findPic {
	width: 22px;
	height: 22px;
	overflow: hidden;
	float: left;
	margin: 7px 20px;
	border: 0;
}

#imgAttention {
	margin-top: 0px;
	margin-left: 0px;
}

#attentionFont,#fanFont,#findFont {
	margin-top: 8px;
	border: 0;
}

#attentionAllFont {
	margin-left: 60px;
	margin-top: 6px;
	border: 0;
	font-size: 12px;
}

#imgFind {
	margin-top: -100px;
	margin-left: 0px;
}

#imgFan {
	margin-top: 0px;
	margin-left: 0px;
}

#ct_center_main {
	position: absolute;
	top: 25px;
	left: 25px;
	height: 520px;
	width: 775px;
	border: 1px solid #eee;
	background-image: url("../../images/user/image/center.PNG");
}

#ct_center_main_top {
	position: absolute;
	top: 0;
	left: 0;
	width: 775px;
	height: 35px;
	border-bottom: 3px solid gray;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

#font2 {
	font-size: 12px;
	margin-top: 8px;
	float: left;
	margin-left: 10px;
	border: 0;
}

#font1 {
	margin-top: 8px;
	font-weight: bolder;
	float: left;
	border: 0;
}

a:HOVER {
	color: orange;
	cursor: pointer;
}

#ct_center_main_content {
	position: absolute;
	top: 60px;
	left: 0px;
	border: 1px solid #eee;
	height: 440px;
	width: 775px;
}

#bottom {
	position: absolute;
	top: 650px;
	left: 195px;
	border: 0;
}