
#top {
	border-width: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	width: 100%;
	background-image: url("../../images/user/homeblog/top_back.png");
	height: 40px;
}

.top_span {
	position: absolute;
	color: #FFFFFF;
	width: 60px;
	height: 36px;
}

.top_font {
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
}

#toptitle {
	border-width: 0px;
	position: absolute;
	width: 980px;
	height: 40px;
	margin-left: 208px;
}
