#top {
	border-width: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	width: 100%;
	background-image: url("../../images/user/homeblog/top_back.png");
	height: 40px;
}

.top_span {
	position: absolute;
	color: #FFFFFF;
	width: 60px;
	height: 36px;
}

.top_font {
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
}

#toptitle {
	border-width: 0px;
	position: absolute;
	width: 980px;
	height: 40px;
	margin-left: 208px;
}

.pmbb {
	margin-top:3px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

.box {
	position: absolute;
	border: solid 2px #F00;
	background-color:white;
	height: 36px;
	width: 230px;
	line-height: 30px;
	font-size: 14px;
}

.search {
	width: 196px;
	height: 30px;
	float: left;
}

.btnSearch {
	width: 30px;
	height: 33px;
	background: #F00;
	color: #fff;
}