@charset "utf-8";
/* CSS Document */
html, body {font-family: arial;	font-size: 12px;border: 0;color: #555555; background: #FFFFFF;}
body, img, p, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote { margin: 0;	padding: 0;}
p {line-height: 20px;padding: 10px 0;}
h1, h2, h3, h4, h5 {padding: 10px 0;}
ul, ol {list-style: none;padding: 10px 0;}
small {	font-size: 11px;}
code {background: #FFFFC1;}
a {color: #555;	text-decoration: underline;}
a:hover {text-decoration: none;}
a img {border: none;}
blockquote p {padding: 5px 0;}



