@charset "utf-8";
/* CSS Document */
html, body { font-family: arial; font-size: 12px; border: 0; color: #555555; background: #FFFFFF; }
body, img, p, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote { margin: 0; padding: 0; }
p { line-height: 20px; padding: 10px 0; }
h1, h2, h3, h4, h5 { padding: 10px 0; }
ul, ol { list-style: none; padding: 10px 0; }
small { font-size: 11px; }
code { background: #FFFFC1; }
a { color: #555; text-decoration: underline; }
a:hover { text-decoration: none; }
a img { border: none; }
blockquote p { padding: 5px 0; }
/*Ϊ*/

/**/
body, html { background-color:#fcfded; }
/* (flickr) */
#flickr h3 span { color: #0061D8; }
#flickr h3 span span { color: #FF1183; }
#flickr .wrap { margin-left: -5px; padding: 0; position: relative; margin-bottom:25px; }
#flickr a img { float: left; margin-left: 10px; margin-bottom: 10px; display: block; padding: 3px; background: #fff; border: #CECFC6 1px solid; }
#flickr a:hover img { border: #A8AA99 1px solid; }
/* widget-slider */
#slider-top { width:960px; }
#slider-bot { width:960px; }
#slider-block { min-height:300px; width:960px; }
.container { height:137px; width:840px; }
.slide { width:800px; }
#loopedSlider { width:960px; }
#slider-top { background:url(../images/bg-footer-top.png) no-repeat; height:12px; font-size:1px }
#slider-bot { background:url(../images/bg-footer-bot.png) no-repeat; height:12px; }
#slider-block { background-color:#242527; position:relative; overflow:hidden; }
.container { position:relative; overflow:hidden; margin:0 auto; }
.container div { opacity:0; z-index:0; position:absolute; top:0; left:0; padding:0 20px; }
.container div div { opacity:1; z-index: auto; position:static; padding:0px; }
#loopedSlider { position:relative; margin:30px auto 0; }
#loopedSlider .nav-buttons { list-style-type:none; margin:0; padding:0; }
#loopedSlider li#p { position:absolute; top:140px; left:30px; }
#loopedSlider li#n { position:absolute; top:140px; right:30px; }
.container ul.widget { float:left; width:245px; margin-right:30px; color:#eeeeee; }
.container ul.last { margin-right:0px; }
.container ul.widget h3 { font-family:Arial; color:#fff; font-size: 24px; font-weight:bold; margin:10px 0 0; }
.container ul.widget a { color:#fff; }
.container ul.widget li ul { padding:0; margin:0; }
.container ul.widget li ul li { padding:10px 0; background:url(images/footer-dot.png) repeat-x bottom; }
