<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://192.168.10.27:8080/foss-webstart-0.0.1-SNAPSHOT/webstart/"
    href="$outputFile">
  <information>
    <title>$project.Name</title>
    <vendor>$project.Organization.Name</vendor>
    <homepage>$project.Organization.Url</homepage>
    <description kind="one-line">$project.Description</description>
	<icon href="images/dplogo.png"/>
	<shortcut online="true">
	   	<desktop/>
 	</shortcut>    
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.4+"
     initial-heap-size="32m"
     max-heap-size="128m"
     />
     $dependencies
  </resources>
  <application-desc main-class="$mainClass">
    <argument>http://192.168.10.27:8080/foss-webstart-0.0.1-SNAPSHOT/</argument> 
    <argument>appHome</argument>
    <argument>expApplication.dat</argument> 
    <argument>c:/depponApp/appHome/</argument>
  </application-desc>
</jnlp>
