<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>C:\Users\dell\.m2\repository</localRepository>
	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://120.27.115.240:8081/nexus/content/groups/public</url>
		</mirror>
		<!-- <mirror> <id>CN</id> <name>OSChina Central</name> <url>http://maven.oschina.net/content/groups/public/</url> 
			<mirrorOf>*</mirrorOf> </mirror> -->
		<mirror>
			<id>CN</id>
			<name>OSChina Central</name>
			<url>http://uk.maven.org/maven2/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>

	</mirrors>
	<servers>
		<server>
			<id>releases</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
	</servers>


	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>hbhk-repo</id>
					<name>Repository for hbhk</name>
					<url>http://10.10.0.11:8089/nexus</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>ignore</checksumPolicy>
					</snapshots>
					<layout>default</layout>
				</repository>
				<repository>
					<id>releases</id>
					<url>http://localhost:8081/nexus/content/repositories/releases</url>
				</repository>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
	</activeProfiles>
</settings>