<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
	"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<plugins>
		<plugin interceptor="org.mybatis.spring.interceptor.OffsetLimitInterceptor">
			<property name="dialectClass" value="org.mybatis.spring.dialect.OracleDialect"/>
		</plugin>
		<plugin interceptor="org.mybatis.spring.interceptor.SpringMybatisInterceptor">
		</plugin>
		
	</plugins>
</configuration>