.lbg {
	background: url(../../images/backend/lbg.gif)
}
.login01 {
	background: url(../../images/backend/login01.jpg)
}
.login02 {
	background: url(../../images/backend/login02.jpg)
}
.login03 {
	background: url(../../images/backend/login03.jpg)
}
.login04 {
	background: url(../../images/backend/login04.jpg)
}
.login05 {
	background: url(../../images/backend/inputbg.gif)
}

.inputbg{
	background: url(../../images/backend/inputbg.gif) repeat-x;
}

