<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/data/mongo
			http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:annotation-config />
	<context:component-scan base-package="org.hbhk.**.server">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	<aop:aspectj-autoproxy />
	<bean
		class="org.hbhk.aili.core.server.properties.AiliPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/config.properties</value>
				<value>classpath:config/redis.properties</value>
				<value>classpath:config/custom.properties</value>
			</list>
		</property>
	</bean>

	<bean class="org.hbhk.aili.core.server.web.WebApplicationContextHolder"></bean>
	<bean class="org.hbhk.aili.core.server.context.InstantiationTracingBeanPostProcessor"></bean>
	<bean id="fileService" class="org.hbhk.aili.support.server.file.impl.FileService">
		<property name="pathPrefix" value="${upload.path.prefix}"/>
	</bean>
	<import resource="spring-dao.xml" />
	<import resource="spring-redis.xml"/>
	<import resource="spring-websocket.xml"/> 
	
</beans>
