<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<!-- zookeeper -->
	<bean id="thriftZookeeper" class="org.hbhk.aili.rpc.server.thrift.zookeeper.ZookeeperFactory"
		destroy-method="close">
		<property name="connectString" value="127.0.0.1:2181"></property>
		<property name="namespace" value="hbhk/thrift"></property>
	</bean>
	<bean id="sericeAddressReporter" class="org.hbhk.aili.rpc.server.thrift.support.impl.DynamicAddressReporter"
		destroy-method="close">
		<property name="zookeeper" ref="thriftZookeeper"></property>
	</bean>
	<bean id="userService" class="org.hbhk.aili.rpc.server.test.thrift.ThriftServiceImpl" />
	<bean class="org.hbhk.aili.rpc.server.thrift.ThriftServiceServerFactory"
		destroy-method="close">
		<property name="service" ref="userService"></property>
		<property name="configPath" value="UserServiceImpl"></property>
		<property name="port" value="9090"></property>
		<property name="addressReporter" ref="sericeAddressReporter"></property>
	</bean>

</beans>