<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>fosswebstart</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>org.hbhk.aili.client.start.ftp.FtpServerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
	    <servlet-name>JnlpDownloadServlet</servlet-name>
	    <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JnlpDownloadServlet</servlet-name>
	    <url-pattern>/webstart/*</url-pattern>
	</servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/ftpstatus</url-pattern>
    </servlet-mapping>

</web-app>