body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:402px;
  top:150px;
  width:540px;
  height:450px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:450px;
}
#u3 {
  position:absolute;
  left:2px;
  top:217px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:502px;
  top:259px;
  width:80px;
  height:20px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:582px;
  top:254px;
  width:180px;
  height:30px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:502px;
  top:303px;
  width:80px;
  height:20px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:582px;
  top:297px;
  width:180px;
  height:30px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:502px;
  top:345px;
  width:80px;
  height:20px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:582px;
  top:340px;
  width:180px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:502px;
  top:393px;
  width:80px;
  height:20px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:582px;
  top:388px;
  width:180px;
  height:30px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:502px;
  top:443px;
  width:80px;
  height:20px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:582px;
  top:438px;
  width:180px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:582px;
  top:491px;
  width:140px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:900px;
  top:165px;
  width:47px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:810px;
  top:165px;
  width:92px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:582px;
  top:535px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:65px;
  top:7px;
  width:58px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:687px;
  width:1345px;
  height:80px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:32px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:340px;
  top:729px;
  width:600px;
  height:25px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:25px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:510px;
  top:735px;
  width:448px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:171px;
  top:0px;
  width:58px;
  height:58px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u39 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:227px;
  top:6px;
  width:194px;
  height:53px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
}
#u41 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:368px;
  top:8px;
  width:60px;
  height:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:450px;
  top:31px;
  width:169px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:402px;
  top:188px;
  width:538px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:521px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:4px;
  width:538px;
  height:2px;
}
#u47 {
  position:absolute;
  left:404px;
  top:153px;
  width:100px;
  height:38px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:60px;
  width:1342px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:171px;
  top:64px;
  width:300px;
  height:30px;
}
#u51_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
