/***************************************************
* @name: layout.css
* @function: 布局样式
***************************************************/

/* 工具栏 */
.sfwl-toolbar {
	/*border: 1px solid #C3D9E0;*/
	background-color: #FAFAFA;
}

/* 主页面样式 */
.sfwl-main-page {
	height: 100%;
	widht: 100%;
}

/* 详情页面样式 */
.sfwl-detail-page {
	height: 100%;
	width: 100%;
    display: none;
}



/* 页面容器 */
.sfwl-container{position: relative; width:100%; height:100%; }
.sfwl-container .sfwl-extend{
					overflow:visible; 
					margin-top:5px;
					margin-right:5px;
					}

.after-toolbar {top: 26px}
.after-toolbar-row1 {top: 80px}
.after-toolbar-row2 {top: 80px}
.after-toolbar-row3 {top: 108px}
.after-toolbar-row4 {top: 136px}
.after-toolbar-row5 {top: 164px}
.after-toolbar-row6 {top: 192px}
.after-toolbar-row7 {top: 220px}
.after-toolbar-row8 {top: 248px}
.after-toolbar-row9 {top: 276px}
.after-toolbar-row10 {top: 304px}
.after-toolbar-row11 {top: 332px}
.after-toolbar-row12 {top: 360px}
.after-toolbar-row13 {top: 388px}
.after-toolbar-row14 {top: 416px}
.after-toolbar-row15 {top: 444px}

.after-toolbar-tabrow1 {top: 82px}
.after-toolbar-tabrow2 {top: 110px}
.after-toolbar-tabrow3 {top: 138px}
.after-toolbar-tabrow4 {top: 166px}
.after-toolbar-tabrow5 {top: 194px}
.after-toolbar-tabrow6 {top: 222px}
.after-toolbar-tabrow7 {top: 250px}
.after-toolbar-tabrow8 {top: 278px}
.after-toolbar-tabrow9 {top: 306px}
.after-toolbar-tabrow10 {top: 334px}
.after-toolbar-tabrow11 {top: 362px}
.after-toolbar-tabrow12 {top: 390px}
.after-toolbar-tabrow13 {top: 418px}
.after-toolbar-tabrow14 {top: 446px}
.after-toolbar-tabrow15 {top: 474px}

.after-row1 {top: 28px}
.after-row2 {top: 56px}
.after-row3 {top: 84px}
.after-row4 {top: 112px}
.after-row5 {top: 140px}
.after-row6 {top: 168px}
.after-row7 {top: 196px}
.after-row8 {top: 224px}
.after-row9 {top: 252px}
.after-row10 {top: 280px}
.after-row11 {top: 308px}
.after-row12 {top: 336px}
.after-row13 {top: 364px}
.after-row14 {top: 392px}
.after-row15 {top: 420px}


.sfwl-tabrow1{height:58px; overflow:auto;}
.sfwl-tabrow2{height:86px; overflow:auto;}
.sfwl-tabrow3{height:114px; overflow:auto;}
.sfwl-tabrow4{height:142px; overflow:auto;}
.sfwl-tabrow5{height:170px; overflow:auto;}
.sfwl-tabrow6{height:198px; overflow:auto;}
.sfwl-tabrow7{height:226px; overflow:auto;}
.sfwl-tabrow8{height:254px; overflow:auto;}
.sfwl-tabrow9{height:282px; overflow:auto;}
.sfwl-tabrow10{height:310px; overflow:auto;}
.sfwl-tabrow11{height:338px; overflow:auto;}
.sfwl-tabrow12{height:366px; overflow:auto;}
.sfwl-tabrow13{height:394px; overflow:auto;}
.sfwl-tabrow14{height:422px; overflow:auto;}
.sfwl-tabrow15{height:450px; overflow:auto;}