<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.hbhk.aili.client.boot" version="0.0.1"
		class="org.hbhk.aili.client.boot.app.ApplicationPlugin">
	
	<runtime>
		<library id="application.code" path="classes/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>
	
	<extension-point id="login">
		<parameter-def id="login-class"/>
	</extension-point>
	
	<!--启动MainFrame-->
	<extension-point id="gui-mainFrame">
		<parameter-def id="mainFrame-class"/>
		<parameter-def id="init-method"/>
	</extension-point>
	
	
	<extension-point id="auto-run">
		<parameter-def id="class"/>
		<parameter-def id="phase" type="fixed" custom-data="before-login|after-login|background-login"/>
		<parameter-def id="order" type="number"/>
		<parameter-def id="halt-on-error" type="boolean" multiplicity="none-or-one"/>
		
		<parameter-def id="cancelable" type="boolean" multiplicity="none-or-one"/>
		<parameter-def id="canRunBackground" type="boolean" multiplicity="none-or-one"/>
	</extension-point>
	
	<extension-point id="plugins-all">
	</extension-point>

</plugin>
