<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <global-method-security jsr250-annotations="enabled" authentication-manager-ref="authenticationManager" />

    <http security="none" pattern="/resources/**" />

    <http auto-config="true" use-expressions="true">

        <intercept-url pattern="/sec/**" access="hasRole('ROLE_USER')" />

        <form-login login-page="/login"
                    login-processing-url="/loginProcess"
                    authentication-failure-url="/login?error=1"
                    default-target-url="/" />

        <remember-me key="SpringWebFlowTutorial-rmkey-BUUttZnBJCa#U=4Dwg@%5_ptCC8wHtlY"
                     services-ref="ipTokenBasedRememberMeService" />

        <logout logout-url="/logout" logout-success-url="/" invalidate-session="true" />
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="customJdbcDao">
            <password-encoder ref="passwordEncoder">
                <salt-source ref="saltSource" />
            </password-encoder>
        </authentication-provider>
    </authentication-manager>


    <beans:bean id="customJdbcDao" class="org.leochen.samples.dao.impl.CustomJdbcDaoImpl">
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="enableGroups" value="true" />
        <beans:property name="enableAuthorities" value="false" />
    </beans:bean>

    <!-- the property of 'key' must be have -->
    <beans:bean id="ipTokenBasedRememberMeService" class="org.leochen.samples.web.security.IPTokenBasedRememberMeService">
        <beans:property name="userDetailsService" ref="customJdbcDao" />
        <beans:property name="key" value="SpringWebFlowTutorial-rmkey-BUUttZnBJCa#U=4Dwg@%5_ptCC8wHtlY" />
        <beans:property name="tokenValiditySeconds" value="1209600" />
        <beans:property name="parameter" value="_remember_me" />
        <beans:property name="cookieName" value="LOGIN_REMEMBER_ME" />
    </beans:bean>
</beans:beans>