<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="   
           http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans.xsd   
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context.xsd  
           http://www.springframework.org/schema/mvc   
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理 -->
	<mvc:resources mapping="/images/**" location="/images/"
		cache-period="31556926" />
	<mvc:resources mapping="/scripts/**" location="/scripts/" />
	<mvc:resources mapping="/styles/**" location="/styles/" />

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="false">
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json</value>
						<value>text/json</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 扫描所有的controller -->
	<context:component-scan base-package="org.hbhk.**.server.controller" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="jasperReportsViewResolver"
		class="org.springframework.web.servlet.view.jasperreports.JasperReportsViewResolver">
		<!-- 视图渲染优先级，此处为0，优先于渲染JSP -->
		<property name="order" value="0" />
		<!-- 自定义视图渲染类，继承于JasperReportsMultiFormatView -->
		<property name="viewClass" value="org.hbhk.aili.report.server.view.ReportView" />
		<property name="prefix" value="/WEB-INF/reports/" />   <!-- 报表模板路径 -->
		<property name="suffix" value=".jrxml" /><!-- 模板后缀 -->
		<property name="cache" value="false" /><!-- 缓存模板(false时，每次请求都会重新加载模板，建议debug模板时设置为false) -->
		<property name="exporterParameters">  <!-- 渲染时的相关参数 -->
			<map>
				<entry
					key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.IMAGES_URI"
					value="images/" /> <!-- HTML时的白色背景图片(px)路径 -->
				<entry
					key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.CHARACTER_ENCODING"
					value="UTF-8" />
			</map>
		</property>
	</bean>
</beans>   