body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:402px;
  top:147px;
  width:540px;
  height:450px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:450px;
}
#u3 {
  position:absolute;
  left:2px;
  top:217px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:512px;
  top:306px;
  width:70px;
  height:20px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:582px;
  top:301px;
  width:180px;
  height:30px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:512px;
  top:349px;
  width:70px;
  height:20px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:582px;
  top:344px;
  width:180px;
  height:30px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:512px;
  top:392px;
  width:70px;
  height:20px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:582px;
  top:387px;
  width:180px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:582px;
  top:447px;
  width:80px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:680px;
  top:447px;
  width:80px;
  height:16px;
  text-decoration:underline;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:582px;
  top:485px;
  width:180px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:645px;
  top:492px;
  width:45px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:634px;
  top:545px;
  width:80px;
  height:16px;
  text-decoration:underline;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:687px;
  width:1340px;
  height:80px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:80px;
}
#u24 {
  position:absolute;
  left:2px;
  top:32px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:510px;
  top:735px;
  width:448px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:60px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:1334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:171px;
  top:0px;
  width:58px;
  height:58px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u30 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:227px;
  top:6px;
  width:194px;
  height:53px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
}
#u32 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:368px;
  top:8px;
  width:60px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:450px;
  top:31px;
  width:169px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:402px;
  top:186px;
  width:537px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:520px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:537px;
  height:2px;
}
#u38 {
  position:absolute;
  left:405px;
  top:150px;
  width:100px;
  height:38px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:60px;
  width:1342px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:171px;
  top:65px;
  width:300px;
  height:30px;
}
#u42_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
