@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:5px;padding:0;}body,button,input,select,textarea{font:12px/1.5 arial,\5b8b\4f53,tahoma,sans-serif;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0; vertical-align:middle;}button,input,select,textarea{font-size:100%;}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}

a:

h3{
	font-size:14px;
}

input{
	height: 20px;
}

button{
	width: 50px;
	height: 20px;
}

table, th, td{
  border: 1px solid;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

th{
	text-align:center;
}

.c2 {
	width: 200px;
	text-align:center;
}

.c3 {
	width: 80px;
	text-align:center;
}

.c4 {
	width: 80px;
	text-align:center;
}

.c5 {
	width: 400px;
}

.c6 {
	width: 400px;
}

.floatToolbar {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	-webkit-box-shadow: 0 0 3px 0px #C9C9C9;
	-moz-box-shadow: 0 0px 3px 0px #c9c9c9;
	box-shadow: 0 0px 3px 0px #C9C9C9;
	z-index: 1000;
}

.top{
	top:0px;
	padding-left: 5px;
	border-top: solid 1px #B5B5B5;
	border-bottom: solid 1px #B5B5B5;
	background-repeat: repeat-x;
	background-color:#FFF;
	height: 40px !important;
	width: 99% !important;
}

.bottom{
	bottom:0px;
	text-align:center;
	background-color:#F00;
	font-size:20px;
}