@charset "utf-8";
.l_panel {
	margin: 5px 5px 0;
	height: 90px;
}

.l_tobar_title {
	background: url("../images/l_title_bg.png") repeat-x scroll 0 0
		transparent;
	border: 1px solid #8DC2E3;
	font-size: 13px;
	font-weight: bold;
	height: 24px;
	margin-top: 2px;
	padding-left: 5px;
	padding-top: 5px;
}

.l_tobar_body {
	border: 1px solid #8DC2E3;
	height: 66px;
}

.l_tobar_body .search-form {
	margin: 0px 0 0 0px;
	
}

.search-form form {
	height: 60px;
	margin: 3px 0 0 3px;	
}

.search-form table {
	height: 40px;
	margin: 15px 0 0 0px;
}

.search-form table td {
	width: 130px;
}

#parent {
	display: block;
	overflow: auto;
	height: auto;
	float: inherit;
}

#parent #son {
	padding: 10px 30px 20px 20px;
}

#parent #rowson {
	display: inline;
	padding: 10px 30px 20px 20px;
}

#son #labelName {
	float: left;
}

/* CSS XiongJie */
.p-t{ padding-top:10px;}
.tab{ font-size:12px;border-top:1px solid #ccc;border-left:1px solid #ccc;}
.tab td{ padding-right:10px; border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.text{ border:1px solid #bfbfbf; width:200px; height:28px; line-height:28px; margin-left:5px; padding-left:5px;}
.text:focus{ background:#ffffee;}
.width300{ width:300px; height:60px; line-height:20px;}
.l-text-wrapper{margin-top:10px;margin-left:5px;}