body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:60px;
  width:1342px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:342px;
  top:140px;
  width:694px;
  height:506px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:506px;
}
#u7 {
  position:absolute;
  left:2px;
  top:245px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:171px;
  top:65px;
  width:300px;
  height:30px;
}
#u8_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:960px;
  top:24px;
  width:240px;
  height:30px;
}
#u16_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:246px;
  height:36px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:35px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:687px;
  width:1345px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:171px;
  top:0px;
  width:58px;
  height:58px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u27 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:227px;
  top:6px;
  width:194px;
  height:53px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:368px;
  top:8px;
  width:60px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:455px;
  top:31px;
  width:169px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:345px;
  top:143px;
  width:160px;
  height:38px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:342px;
  top:177px;
  width:692px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:675px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:4px;
  width:692px;
  height:2px;
}
#u37 {
  position:absolute;
  left:345px;
  top:219px;
  width:140px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:345px;
  top:241px;
  width:120px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u40 {
  position:absolute;
  left:345px;
  top:260px;
  width:688px;
  height:40px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:684px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:345px;
  top:320px;
  width:688px;
  height:40px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:684px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:345px;
  top:465px;
  width:140px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:345px;
  top:487px;
  width:120px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u47 {
  position:absolute;
  left:345px;
  top:506px;
  width:100px;
  height:100px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:358px;
  top:610px;
  width:69px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:490px;
  top:567px;
  width:40px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:480px;
  top:611px;
  width:69px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:345px;
  top:380px;
  width:688px;
  height:40px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:684px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:950px;
  top:270px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:949px;
  top:330px;
  width:87px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:951px;
  top:387px;
  width:80px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:510px;
  top:735px;
  width:448px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
