<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
			">
	<beans profile="dev">
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
			destroy-method="close">
			<property name="driverClassName" value="${db.driverClassName}" />
			<property name="url" value="${db.url}" />
			<property name="username" value="${db.username}" />
			<property name="password" value="${db.password}" />
			<!--maxActive: 最大连接数量 -->
			<property name="maxActive" value="150" />
			<!--minIdle: 最小空闲连接 -->
			<property name="minIdle" value="${db.minPoolSize}" />
			<!--maxIdle: 最大空闲连接 -->
			<property name="maxIdle" value="${db.maxPoolSize}" />
			<!--initialSize: 初始化连接 -->
			<property name="initialSize" value="${db.initialPoolSize}" />
			<!-- 连接被泄露时是否打印 -->
			<property name="logAbandoned" value="true" />
			<!--removeAbandoned: 是否自动回收超时连接 -->
			<property name="removeAbandoned" value="false" />
			<!--removeAbandonedTimeout: 超时时间(以秒数为单位) -->
			<property name="removeAbandonedTimeout" value="10" />
			<!--maxWait: 超时等待时间以毫秒为单位 1000等于60秒 -->
			<property name="maxWait" value="1000" />
			<!-- 在空闲连接回收器线程运行期间休眠的时间值,以毫秒为单位. -->
			<property name="timeBetweenEvictionRunsMillis" value="10000" />
			<!-- 在每次空闲连接回收器线程(如果有)运行时检查的连接数量 -->
			<property name="numTestsPerEvictionRun" value="10" />
			<!-- 1000 * 60 * 30 连接在池中保持空闲而不被空闲连接回收器线程 -->
			<property name="minEvictableIdleTimeMillis" value="10000" />
		</bean>

	</beans>

	<beans profile="sit">
		<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			<property name="jndiName">
				<value>java:comp/env/jdbc/ows</value>
			</property>
			<property name="resourceRef" value="true" />
		</bean>

	</beans>

	<beans profile="prd">
		<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			<property name="jndiName">
				<value>java:comp/env/jdbc/ows</value>
			</property>
			<property name="resourceRef" value="true" />
		</bean>
	</beans>

</beans>
